@tailwind base;
@tailwind components;
@tailwind utilities;

/*Color Palette
Navbar: 91, 184, 123
Table contents: 223, 242, 230
Black: 28, 30, 28
White: 255, 255, 255
Yellow: 242, 209, 89
Red: 255, 88, 88
*/

/*  inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --foreground-rgb: 255,255,255;
}

/* Main page styling*/
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(91, 184, 123) 0px, transparent 70%),
    radial-gradient(at 52% 99%, rgb(255, 255, 255) 0px, transparent 70%),
    radial-gradient(at 10% 29%, rgb(242, 209, 89) 0px, transparent 70%),
    radial-gradient(at 97% 96%, rgb(255, 88, 88) 0px, transparent 70%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

/* Untuk Popup */
.popup {
  position: fixed;
  top: 20px; /* Sesuaikan posisi vertikal */
  left: 50%; /* Untuk menengahkan pop-up */
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 999; /* Pastikan z-index lebih tinggi dari elemen lain */
}


.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-full ;
}


/* Styling */
.headline_text {
  @apply mt-8 mx-4 text-4xl font-extrabold leading-[1.2] sm:text-6xl font-inter;
}

.gradient_green{
  @apply bg-gradient-to-r from-lime-200 to-emerald-800 bg-clip-text text-transparent;
}

.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-3xl text-white tracking-wide mx-2;
}

.navbar{
  background-color: rgb(91, 184, 123, 0.5);
}

.purple_btn {
  @apply mx-2 rounded-full border border-black bg-indigo-500 py-2.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.button_bg{
  background-color: rgb(91, 184, 123, 0.5);
  color: rgb(112, 163, 129);
}

.button_bg:hover{
  background-color: rgb(242, 209, 89);
  color: rgb(112, 163, 129);
}
